<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon Reviews Sentiment Analysis</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles -->
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Amazon Sentiment Analysis</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if current_user.is_authenticated %}
        <a class="navbar-brand" href="#">Welcome {{ current_user.username }}!</a>
        {% endif %}
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('dashboard')}}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
                </li>
                {% else%}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('login')}}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('signin')}}">Sign Up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
    
    <main role="main" class="container">
        <div class="jumbotron mt-5">
            <h1 class="display-4">Welcome to Amazon Reviews Sentiment Analysis!</h1>
            <p class="lead">Discover the sentiment of Amazon reviews quickly and easily.</p>
        </div>
    </main>

    <footer class="footer mt-auto py-3 bg-dark text-white">
        <div class="container text-center">
            <span>Contact: contact@example.com</span><br>
            <span>Follow us: <a href="#">Facebook</a>, <a href="#">Twitter</a></span>
        </div>
    </footer>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>